<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections></configSections>
	<connectionStrings>
		<add name="SetupWithSQLDB.Properties.Settings.HalkeyDbConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\HalkeyDb.mdf;Integrated Security=False" providerName="System.Data.SqlClient /"/>
	</connectionStrings>
</configuration>